@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #14395B;
  --accent: #F4B41A;
}

html, body, #root { height: 100%; }

.container-wide {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
